@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* Light mode colors */
  --themed-50: 253 253 253;   /* #fdfdfd */
  --themed-100: 249 249 249;  /* #f9f9f9 */
  --themed-200: 241 241 241;  /* #f1f1f1 */
  --themed-300: 231 231 231;  /* #e7e7e7 */
  --themed-400: 217 217 217;  /* #d9d9d9 */
  --themed-500: 181 181 181;  /* #b5b5b5 */
  --themed-600: 158 158 158;  /* #9e9e9e */
  --themed-700: 104 104 104;  /* #686868 */
  --themed-800: 72 72 72;     /* #484848 */
  --themed-900: 38 38 38;     /* #262626 */
}

.dark {
  /* Dark mode colors */
  --themed-50: 217 217 217;   /* #d9d9d9 */
  --themed-100: 183 183 183;  /* #b7b7b7 */
  --themed-200: 151 151 151;  /* #979797 */
  --themed-300: 122 122 122;  /* #7a7a7a */
  --themed-400: 97 97 97;     /* #616161 */
  --themed-500: 74 74 74;     /* #4a4a4a */
  --themed-600: 54 54 54;     /* #363636 */
  --themed-700: 38 38 38;     /* #262626 */
  --themed-800: 24 24 24;     /* #181818 */
  --themed-900: 14 14 14;     /* #0e0e0e */
}
